.font-power{
    margin: 0px;
}

.dashboard{
    padding-top: 15px;
    height: 150px;
    margin-bottom: 20px;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    box-shadow: 2px 2px 7px #999;
}

.dashboard p{
    background-color:rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
    position: absolute;
    top: 120px;
    border-top-right-radius: 10px;

}

.dashboard a{
    color: white;
}

.dashboard{
    opacity: 0.9;
}

.dashboard:hover{
    opacity: 1;
}

.dashboard h5,h1{
    text-align: center;
}

.dashboard i{
    font-size: 90px;
}

.red{
    background-color: #c34a2c;
}

.green{
    background-color: #43ad80;
}

.eggplant{
    background-color: #614051;
}

.blue{
    background-color: #307d7e;
}

.s-blue{
    background-color: #737ca1;
}

.orange{
    background-color: #fbb117;
}

.mango{
    background-color: #e55451;
}

.bronze{
    background-color: #cd7f32;
}

.pinegreen{
    background-color: #347c2c;
}

ul.category,.category li
{
    list-style-type:none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/** menu**/
#menu ul.nave{
    margin-top: 3px;
    position: relative;
}

.menu-title{
    height: 50px;
    color: #fff;
    background-color: #004e6d;
    text-align: center;
    font-weight: bolder;
    padding-top: 15px;
    font-size: 16px;
}

ul.nave
{

    list-style-type:none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.var_nave
{
    position:relative;
    background:#0076a3;
    width:100%;
    height:40px;
    margin-bottom:3px;
}
.link_bg
{
    width:40px;
    height:40px;
    position:absolute;
    background:#005b7f;
    color:#fff;
    z-index:2;
}
.link_bg i
{
    position:relative;
}
.link_title
{
    position:absolute;
    width:100%;
    z-index:3;
    color:#fff;
    font-size: 16px;
}
.link_title:hover .icon
 {
     -webkit-transform:rotate(360deg);
     -moz-transform:rotate(360deg);
     -o-transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     transform:rotate(360deg);
 }
.var_nave:hover .link_bg
{
    width:100%;
    background:#005b7f;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.var_nave:hover a
{
    font-weight:bold;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

.icon
{
    position:relative;
    width:40px;
    height:40px;
    text-align:center;
    color:#fff;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    float:left;
    transition:all .5s ease-in-out;
    float:left;
}
.icon i{top:10px;position:relative;}

.link_title a{
    display:block;
    position:absolute;
    float:left;
    font-family:arial;
    color:#fff;
    text-decoration:none;
    width:100%;
    height:40px;
    text-align:center;
}


.link_title span
{
    margin-top:10px;
    display:block;
}

.highlight{
    background:#005b7f;
    color:#fff;
    font-weight:bold;
}

table thead tr th{
    border-right: 1px solid #fff;
}

table tbody tr:hover{
    background:#E8F6E4;
}

table thead .center{
   text-align: center;
}

/** course detailed view**/
.course-content{
    height: 1px;
    background-color:lightgray;
    text-align: left;
}

span.course-content h4{
    background-color: white;
    position: absolute;
    top: 0px ;
    margin-left:10px;
    padding: 0px 10px;
    text-transform: uppercase;
}

.lecture{
    position: absolute;
    left: 25px;
}

.review{
    padding: 0px;
    text-align: center;
    border-right: 1px solid #efefef;
}


#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/** on off**/
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 20px;
    padding: 2px;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #47a8d8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
    left: 60px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}

thead tr.font-center th{
    text-align: center !important;
    vertical-align: middle;
}

td.inprogress a{
    color: orange;
    font-weight: bold;
}

td.inprogress a:hover{
    color: darkorange;
}

td.new a{
    color: limegreen;
    font-weight: bold;
}

.text-green{
    color: #00b200;
}

.text-red{
    color: red;
}

.text-blue{
    color: blue;
}

.text-yellow{
    color:#FFb200;
}

td.new a:hover{
    color: darkgreen;
}

td.pending a{
    color: red;
    font-weight: bold;
}

td.pending a:hover{
    color: darkred;
}

.setting{
    padding: 15px 30px 5px 30px;
    background-color: #f0f0f0;
    border-radius: 6px;
    margin-bottom: 20px;
}

.setting hr {
    border-top: 1px solid #e0e0e0;
}

.setting p{
    color: #0076a3;
    font-weight: bold;
    font-size: 16px;
}

.open-message{
    height:auto;
    padding: 0px !important;

}

.open-message p{
    color: #000;
    font-size: 14px;
    height:auto;
}

.open-message p span{
    font-size: 16px;
    font-weight: bold;
    color: #999;
}
.open-message p span i{
    font-size: 12px;
    color: #999;
}

.open-message p span span i.starred{
    color: orange;
}

.list_news h4 small{
    font-size: 11px;
    color: #808080 !important;
}

.margin-top-17{
    margin-top: 17px;
}

#footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:15px;
    width:100%;
    background-color: #005b7f;
    z-index: 10000;
}

.superadmin h3{
    font-size: 20px;
}