

<div class="col-md-12 margin-bottom-20 margin-top-50">
    <a href="#billing" class="btn-sm btn-primary pull-right margin-top-20"><i>Back to the instructor list</i></a>
    <div class="col-xs-12 col-md-5 pull-right ">
        <div id="sb-search" class="sb-search pull-right margin-top-17">
            <form>
                <input class="sb-search-input" placeholder="Search here..." type="text" value="" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"></span>
            </form>
        </div>
    </div>
    <h3 class="padding-left-20 icon-ticket"> Billing Details  - Course Wise </h3>
    <hr>

    <div class="table-responsive">
        <table class="table">
            <thead class="highlight">
            <tr>
                <th>Course Name</th>
                <th>Published Date</th>
                <th>Total Enrollments</th>
                <th>Instructor Share</th>
                <th>Our Share</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">HTML</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">CSS</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Java</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Java Script</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">WebSite Design</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Bootstrap</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Health Care</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Super</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>
            <tr>
                <td><a href="#">Super</a></td>
                <td>03/02/2015</td>
                <td>2352</td>
                <td>125 $</td>
                <td>25 $</td>
                <td><a href="#billing_enrollment">View Details</a> </td>
            </tr>

            </tr>

            </tbody>
        </table>
        <div class="text-center col-xs-12 col-md-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul><!-- end pagination-->
        </div>

    </div><!-- End tab-pane -->

</div>

<script>new UISearch(document.getElementById( 'sb-search' ));</script>