<!-- pop up linked popup.css, popup.js and inline script at bottom-->
<div id="yourModalId" class="yourModalClass text-center" style="display: none">
    <a href="#yourModalId" class="pull-right close padding-top-10">x</a>
    <h3>Add New Category</h3>
    <form action="#" method="post">
        <div class="form-group">
            <label class="pull-left">Category Name</label>
            <input name="message" class="form-control style_2"  placeholder="Category name...">
        </div>
        <div class="form-group text-center margin-bottom-10">
            <input type="submit" class=" button_medium" value="ADD CATEGORY"/>
        </div>
    </form>
</div>
<!-- pop up end -->

<!-- pop up linked popup.css, popup.js and inline script at bottom-->
<div id="yourModalId1" class="yourModalClass text-center" style="display: none">
    <a href="#yourModalId1" class="pull-right close padding-top-10">x</a>
    <h3>Edit Category</h3>
    <form action="#" method="post">
        <div class="form-group">
            <label class="pull-left">Category Name</label>
            <input name="message" class="form-control style_2"  placeholder="Category name...">
        </div>
        <div class="form-group text-center margin-bottom-10">
            <input type="submit" class=" button_medium" value="SAVE CHANGES"/>
        </div>
    </form>
</div>
<!-- pop up end -->

<!-- pop up linked popup.css, popup.js and inline script at bottom-->
<div id="yourModalId2" class="yourModalClass text-center alert-warning" style="display: none">
    <a href="#yourModalId2" class="pull-right close padding-top-10">x</a><br/>
    <h4><strong>Alert!</strong></h4>
    <p>It will delete all the Sub-Category and Courses inside this category <br/>Are you sure want to delete?</p>
    <a href="#yourModalId2" class="btn btn-sm btn-warning">Canel</a>
    <a class="btn btn-sm btn-danger">Delete</a>
</div>
<!-- pop up end -->

<div class="col-md-12 margin-top-50 margin-bottom-20">
<a href="#yourModalId" class="btn-sm btn-primary pull-right margin-top-20"><i class="icon-plus-circle"> Add New Category</i></a>
<div class="col-xs-12 col-md-5 pull-right margin-top-17">
    <div id="sb-search" class="sb-search pull-right">
        <form>
            <input class="sb-search-input" placeholder="Search here..." type="text" value="" name="search" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"></span>
        </form>
    </div>
</div>
<h3 class="padding-left-20"><i class="icon-menu-1"></i> Course Categories</h3>
<hr>
<div class="col-md-12 col-xs-12 no-padding">
    <div class="table-responsive">
        <table class="table">
            <thead class="highlight">
            <tr>
                <th class="text-center">Category Name</th>
                <th class="text-center">Enrollments</th>
                <th class="text-center">Price</th>
                <th class="text-center">Status</th>
                <th class="text-center">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            <tr>
                <td><a href="#sub_categories">NameNameNameN</a></td>
                <td class="text-center">12</td>
                <td class="text-center">125 $</td>
                <td class="text-center">
                    <label class="switch switch-green">
                        <input type="checkbox" class="switch-input" checked>
                        <span class="switch-label" data-on="Active" data-off="Inactive"></span>
                        <span class="switch-handle"></span>
                    </label>
                </td>
                <td class="text-center">
                    <a href="#yourModalId1" class="btn-xs btn-primary">Edit</a>
                    <a href="#yourModalId2" class="btn-xs btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center col-xs-12 col-md-12">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul><!-- end pagination-->
    </div>
</div>
</div>

<script>
    var modal1 = Modality.init('#yourModalId', {
        effect: 'slide-up'
    });

    var modal2 = Modality.init('#yourModalId1', {
        effect: 'slide-up'
    });

    var modal3 = Modality.init('#yourModalId2', {
        effect: 'slide-up'
    });

</script>

<script>new UISearch(document.getElementById( 'sb-search' ));</script>