<!--Dashboard body-->

<div class="col-md-12 col-xs-12 margin-top-50">
    <h3 class="padding-left-20 icon-chart-bar-1"> Dashboard</h3>
    <hr/>
</div>

<div class="col-md-10 col-xs-12 col-md-offset-1  margin-bottom-20">
    <div class="col-md-4 col-xs-12">
        <div class="dashboard red">
            <a href="#instructors">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-user-1"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        123
                    </h1>
                    <h5>
                        Instructors
                    </h5>
                </div>
                <p>INSTRUCTORS</p>
            </a>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="dashboard blue">
            <a href="#students">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-users-1"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        2500
                    </h1>
                    <h5>
                        Students
                    </h5>
                </div>
                <p>STUDENTS</p>
            </a>
        </div>
    </div>


    <div class="col-md-4 col-xs-12">
        <div class="dashboard green">
            <a href="#affiliates">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-user-3"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        25
                    </h1>
                    <h5>
                        Affiliators
                    </h5>
                </div>
                <p>AFFILIATES</p>
            </a>
        </div>
    </div>



    <div class="col-md-4 col-xs-12">
        <div class="dashboard s-blue">
            <a href="#courses">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-book"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        5480
                    </h1>
                    <h5>
                        Courses
                    </h5>
                </div>
                <p>TOTAL COURSES</p>
            </a>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="dashboard orange">
            <a href="#categories">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-menu-1"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        15
                    </h1>
                    <h5>
                        Categories
                    </h5>
                </div>
                <p>TOTAL CATEGORIES</p>
            </a>
        </div>
    </div>



    <div class="col-md-4 col-xs-12">
        <div class="dashboard bronze">
            <a href="#courses">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-book-open"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        4251
                    </h1>
                    <h5>
                        Courses
                    </h5>
                </div>
                <p>FREE COURSES</p>
            </a>
        </div>
    </div>



    <div class="col-md-4 col-xs-12">
        <div class="dashboard mango">
            <a href="#courses">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-book-alt"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        1640
                    </h1>
                    <h5>
                        Courses
                    </h5>
                </div>
                <p>PAID COURSES</p>
            </a>
        </div>
    </div>



    <div class="col-md-4 col-xs-12">
        <div class="dashboard eggplant">
            <a href="#reports">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-money-1"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        548
                    </h1>
                    <h5>
                        Courses
                    </h5>
                </div>
                <p>SOLD COURSES</p>
            </a>
        </div>
    </div>



    <div class="col-md-4 col-xs-12">
        <div class="dashboard pinegreen">
            <a href="#reports">
                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                    <h1><i class="icon-money-2"></i></h1>
                </div>
                <div class="col-md-6 col-xs-6"><br/>
                    <h1>
                        5482
                    </h1>
                    <h5>
                        U<strong>$</strong>
                    </h5>
                </div>
                <p>TOTAL PROFIT</p>
            </a>
        </div>
    </div>

</div>