

    <!-- text editor -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote-bs3.css">
    <!-- text editor end -->

                <div class="col-md-12 col-xs-12 margin-bottom-20 margin-top-50">
                    <a href="#news" class="btn-sm btn-primary pull-right margin-top-20"><i>Back to the list</i></a>
                    <h3 class="padding-left-20 icon-bullhorn"> News</h3>
                    <hr>
                    <div class="col-md-5 col-xs-12 no-padding">
                        <div class="form-group">
                            <label for="new-news"><strong>News Title :</strong></label>
                            <input type="text" class="form-control" id="new-news">
                        </div>

                        <div class="form-group">
                            <label for="new-news"><strong>News Description :</strong></label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary">Save</a>
                            <a href="news.html" class="btn btn-warning">Cancel</a>
                        </div>
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <label for="new-news"><strong>Content :</strong></label>
                        <div class="texteditor margin-bottom-10">
                            <textarea name="summernote" id="summernote">
                            </textarea>
                        </div>
                    </div>
                </div>

<!-- text editor -->
<script src="../../text-editor/jquery-1.11.1.min.js"></script>
<script src="../../text-editor/text-editor-bootstarp.js"></script>
<script type='text/javascript' src="../../text-editor/summernote.js"></script>

<script type='text/javascript'>//<![CDATA[
$(function(){
    $('#summernote').summernote({height: 200});
});//]]>
</script>